Source: android-sdk-installer
Section: misc
Priority: optional
Maintainer: Chris Hubbard <chris_habbard@sil.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5

Package: android-sdk-installer
Architecture: i386 amd64
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Depends: ${misc:Depends}, ${dist:Depends}, unzip, wget, default-jre (>= 2:1.7) | openjdk-7-jre, default-jdk (>= 2:1.7) | openjdk-7-jdk
Description: Installer for the Android SDK
 This package will download the required files for the Android SDK and extract
 them, or install already downloaded SDK files.
