#!/usr/bin/make -f

URLROOT = https://dl-ssl.google.com/android/repository/
#URLROOT = http://localhost:8000/

#export DH_VERBOSE=1


%:
	dh $@

override_dh_auto_install: android_sdk_urls
	mkdir -p debian/tmp/usr/share/package-data-downloads
	while read sum file; do \
		echo "Url: $(URLROOT)$$file"; \
		echo "Sha256: $$sum"; \
		echo ; \
	done < zipfiles.sha256sums > debian/tmp/usr/share/package-data-downloads/android-sdk-installer
	echo "Script: /usr/lib/android-sdk-installer/install-android-sdk" >> debian/tmp/usr/share/package-data-downloads/android-sdk-installer
	echo "Should-Download: android-sdk-installer/accepted-android-sdk-eula" >> debian/tmp/usr/share/package-data-downloads/android-sdk-installer
	echo "Offline-Download-Dir: android-sdk-install/dldir" >> debian/tmp/usr/share/package-data-downloads/android-sdk-installer
	mkdir -p debian/tmp/usr/share/android-sdk-offline-downloader

android_sdk_urls:
	while read sum file; do \
		echo "$(URLROOT)$$file"; \
		echo ; \
	done < zipfiles.sha256sums > android-sdk-urls.md

