#!/usr/bin/make -f

URLROOT = https://dl-ssl.google.com/android/repository/
#URLROOT = http://swd-bauson-nx.local:8000/

#export DH_VERBOSE=1


%:
	dh $@

override_dh_auto_install:
	while read file; do \
		echo "$(URLROOT)$$file"; \
		echo ; \
	done < zipfiles > android-sdk-urls.md

